<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<div class="container">
  <h2 class="text-center">THis is form</h2>
  <form [formGroup]="textForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" formControlName="name" />
    </div>
    <div class="form-group" style="margin-top: 10px">
      <label>Email:</label>
      <input type="email" class="form-control" formControlName="email" />
    </div>

    <button type="submit">Submit</button>
  </form>
</div>

<ul>
  <!-- <li *ngFor="let d of textForm">{{d.name}} | {{d.email}}</li> -->
</ul>
